/* * {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
} */
img {
  width: 25%;
  height: 20%;
  object-fit:cover;
  border: 4px solid white;
  border-radius: 10px;
  -webkit-box-reflect:below 2px linear-gradient(transparent, transparent, #0004);
  
  transform-origin:center;
  transform:perspective(800px) rotateY(25deg);
  transition:0.5s;
}
.contain {
  padding-top: 40px;
  padding-bottom: 55px;
  /* width: 100%;
  height: 40%; */
  display:flex;
  justify-content:center;
  align-items:center;
  gap:20px;
  
}
.contain:hover img {
  opacity:0.3;
  border: 4px solid #FF4500;
  border-radius: 10px;
}
.contain img:hover {
  transform:perspective(800px)       rotateY(0deg);
  opacity:1;
}
.contain:hover h2 {
  color: white;
  opacity: 1;
  transform-origin:center;
  transform:perspective(800px) rotateY(0deg);
  transition:0.5s;
}