  body{
    width:100%;
    
  }
  .nav-link a{
    color: white;
  }
  .footer {
    background-color: #060606;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .additional-content {
    margin-top: 20px;
  }
  
  .additional-content h4 {
    color: #fff;
    margin-bottom: 10px;
  }
  
  .additional-content p {
    color: #ccc;
    line-height: 1.5;
  }
  body {
    /* display: flex; */
    flex-direction: column;
    min-height: 100vh;
  }
  .footer {
    background-color: #151414;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .social-links a {
    color: #fff;
    margin-right: 10px;
  }
  
  .important-links a {
    color: #fff;
    margin-right: 10px;
  }

  .videomain {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0.1;
  }
  
  .video-element {
    position: relative;
    z-index: 200;
    opacity: 1; /* Adjust the opacity value as needed */
  }
  video{
    object-fit: cover;
    
  }
  .videocontent{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding-top: 5%;
    align-items: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
  }
  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000cc;
  }
  .board {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .board button {
    flex: 1;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
  }
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  
  .card-header:hover {
    background-color: #575757;
  }
  
  .card-header h2 {
    padding-top: 1rem;
    margin: 0;
  }
  
  .arrow {
    width: 10px;
    height: 10px;
    border: solid #000;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transition: transform 0.2s ease-in-out;
  }
  
  .arrow-down {
    transform: rotate(45deg);
  }
  
  .arrow-up {
    transform: rotate(-135deg);
  }
  
  .card-content {
    margin-top: 10px;
    background-color: #212529;
  }
  .card {
    justify-content: center;
    max-width: 40%;
    border: 4px solid #2e2d2d;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .card-content {
    padding:4px;
    margin-top: 10px;
  }
  
  .card-navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .card-navigation button {
    padding: 8px 12px;
    background-color: #606164;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .card-navigation button:hover {
    background-color: #404040;
  }
  
  .card-navigation button:disabled {
    background-color: rgb(95, 95, 95);
    cursor: not-allowed;
  }
  .card{
    
    color: black;
  }
  .maincard{
    display: flex;
    justify-content: center;
    align-items: center;
  }

.glowing-button {
  transition: box-shadow 0.3s ease-in-out; 
}

.glowing-button:hover {
  animation: glowing 1.5s infinite;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 5px #FF4500;
  }
  50% {
    box-shadow: 0 0 20px #FF4500;
  }
  100% {
    box-shadow: 0 0 5px #FF4500;
  }
}

.cardmain{
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading{
  border-top: 2px solid orangered;
  border-left: 2px solid orangered ;
}
/* .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin-right: 33rem;
  padding: 20px;
} */

.text h1 {
  margin: 0;
}












































@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@700&display=swap");
:root {
  --brand-color: hsl(46, 100%, 50%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  /* --font-title: "Montserrat", sans-serif;
  --font-text: "Lato", sans-serif; */
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* body,
h2,
p {
  margin: 0;
} */
body {
  display: grid;
  place-items: center;
  height: 100vh;
}

h2 {
  font-size: 1.25rem;
  font-family: var(--font-title);
  color: var(--white);
  line-height: 1.1;
}
.heading h1, p{
    font-family: 'Times New Roman', Times, serif;
}
.flow > * + * {
  margin-top: var(--flow-space, 4em);
}
.cards {
    display: grid;
    place-items: center;
    width: 87%;
    /* max-width: 21.875rem; */
    height: 55%;
    overflow: hidden;
    border-radius: 0.625rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
    padding: 10px; 
}
.cards > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.cards__background {
  object-fit: cover;
  width: 100%;
  height: 50%;
}
.cards__content {
  --flow-space: 0.9375rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
  height: 100%;
  padding: 12% 1.25rem 1.875rem;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 0%, 0) 0%,
    hsla(0, 0%, 0%, 0.3) 10%,
    hsl(0, 0%, 0%) 100%
  );
}
.cards__content--container {
  --flow-space: 1.25rem;
}
.cards__title {
  position: relative;
  width: fit-content;
  width: -moz-fit-content; 
}
.cards__title::after {
  content: "";
  position: absolute;
  height: 0.25rem;
  width: calc(100% + 1.25rem);
  bottom: calc((1.25rem - 0.5rem) * -1);
  left: -1.25rem;
  background-color: var(--brand-color);
}
.cards__button {
  width: 40%;
  height:30%;
  font-variant: small-caps;
  font-weight: bold;
  border-radius: 0.45em;
  border: none;
  background-color: var(--brand-color);
  font-family: var(--font-title);
  font-size: 1.125rem;
  color: var(--black);
}

.cards__button:focus {
  outline: 2px solid black;
  outline-offset: -5px;
}

@media (any-hover: hover) and (any-pointer: fine) {
  .cards__content {
    transform: translateY(92%);
    transition: transform 500ms ease-out;
    transition-delay: 500ms;
  }

  .cards__title::after {
    opacity: 0;
    transform: scaleX(0);
    transition: opacity 1000ms ease-in, transform 500ms ease-out;
    transition-delay: 500ms;
    transform-origin: right;
  }

  .cards__background {
    transition: transform 500ms ease-in;
  }

  .cards__content--container > :not(.cards__title),
  .cards__button {
    opacity: 0;
    transition: transform 500ms ease-out, opacity 500ms ease-out;
  }

  .cards:hover,
  .cards:focus-within {
    transform: scale(1.05);
    transition: transform 500ms ease-in;
  }

  .cards:hover .cards__content,
  .cards:focus-within .cards__content {
    transform: translateY(0);
    transition: transform 500ms ease-in;
  }

  .cards:focus-within .cards__content {
    transition-duration: 0ms;
  }

  .cards:hover .cards__background,
  .cards:focus-within .cards__background {
    transform: scale(1.3);
  }

  .cards:hover .cards__content--container > :not(.cards__title),
  .cards:hover .cards__button,
  .cards:focus-within .cards__content--container > :not(.cards__title),
  .cards:focus-within .cards__button {
    opacity: 1;
    transition: opacity 500ms ease-in;
    transition-delay: 1000ms;
  }

  .cards:hover .cards__title::after,
  .cards:focus-within .cards__title::after {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
    transition: opacity 500ms ease-in, transform 500ms ease-in;
    transition-delay: 500ms;
  }
}
.options{
    display: flex;
    justify-content: center;
    align-items:center ;
    list-style: none;
    background-color: rgb(95 87 78);
}
.heading1 h1, p{
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
.heading1 p{
    font-size: 1.25rem;
}
.heading1{
  background-color: rgb(62, 57, 52);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center; 
}

/* .cardbutton{
  border: 2px solid black;
  border-radius: 5px;
  background-color: #f72c0d;
  width: 100px;
} */





.heading {
    height: 10vh;
  margin: 0;
  background-color: orangered;
  text-align: center;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.cardbutton {
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #f72c0d;
  width: 100px;
}